.git2/
test/swaps/
# Data

*.pt
*.lnk*
*.slurm
~archive/
STYLE\ TRANSFER/
GT_SWAP/
renderer/stroke_models/

wandb/
# Prepare_IAM (Handwriting Database)A

# results
RESULTS/
results/
hwr_utils/RESULTS/COMPARISON/

# Configs
# configs/

# Data
#data/rerendered_online_data/
#data/prepare_IAM_Lines/offlineCropped/
#data/prepare_font_data/fonts/
#data/prepare_font_data/output/
#data/prepare_font_data/validation.*
#data/prepare_font_data/words.*
#data/prepare_font_data/training.*
#data/prepare_IAM_Lines/lines*
#data/prepare_IAM_Lines/words*
#data/prepare_IAM_Lines/task/
#data/prepare_IAM_Lines/processed/
#data/prepare_IAM_Lines/xml*
#data/prepare_IAM_Lines/raw_gts*
#data/prepare_IAM_Lines/gts/
#data/online_coordinate_data/*/
#data/indian/
#data/prepare_online_data/lineImages*
#data/prepare_online_data/original-xml*
#data/prepare_online_data/writers.xml
#data/prepare_online_data/line-level-xml*
#data/prepare_online_data/training_test_splits/
#data/prepare_online_data/online_augmentation.json
#data/
data/text_generation
data.zip

writer_IDs.pickle

slurm_scripts/scripts
data/prepare_online_data/onlineCropped/
data/prepare_online_data/cropped_images/
data/prepare_online_data/combinedImages/
data/munit/
data/combinedImages/

# Passwords and cookies
*.log
password.txt
username.txt
log/
cookies/
logs/
pages/
Notes/
dev/
*.log
*.csv
*.ods
*.html
#*.txt
content.txt
*.token
**token*
credentials.json
credentials*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/
venv2/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Pycharm project settings
.idea/
.idea
*.xml
*.iml

data/emnist/EMNIST/processed/training_byclass.pt
data/emnist/EMNIST/processed/training_bymerge.pt
data/emnist/EMNIST/processed/training_digits.pt
lm/reformer/pretrained.bin
./.git/objects/d1/96d1dc07e6ab28b4a19e728c0032fba7410100
./.git/objects/d1/tmp_obj_FQNfvT
./data/emnist/EMNIST/processed/test_balanced.pt
./data/emnist/EMNIST/processed/test_byclass.pt
./data/emnist/EMNIST/processed/test_bymerge.pt
./data/emnist/EMNIST/processed/test_digits.pt
./data/emnist/EMNIST/processed/test_letters.pt
./data/emnist/EMNIST/processed/training_balanced.pt
./data/emnist/EMNIST/processed/training_byclass.pt
./data/emnist/EMNIST/processed/training_bymerge.pt
./data/emnist/EMNIST/processed/training_digits.pt
./data/emnist/EMNIST/processed/training_letters.pt
./data/emnist/EMNIST/processed/training_mnist.pt
./data/text_generation/.git/objects/pack/pack-a61a254d0829cc2319ad3b2afdb704e711a47f21.pack
./data/text_generation/clean_text.txt
./data/text_generation/fonts/font_pack/AdobeHeitiStd-Regular.otf
./data/text_generation/raw_text_10000.txt
./lm/reformer/pretrained.bin
*.bin
./phase1/data/emnist/EMNIST/processed/training_byclass.pt
./phase1/data/emnist/EMNIST/processed/training_bymerge.pt
./phase1/data/emnist/EMNIST/processed/training_digits.pt
./.git/objects/1d/8d125b6464b21f7b36cd93ba0fbadb6381ede8
./.git/objects/a0/fabd1bebbcfaa9be6a3fa2411705230b87ff59
./.git/objects/be/89c8f31cea2c260e5cabdf1fc9c330f82ffa7c
./.git/objects/d1/96d1dc07e6ab28b4a19e728c0032fba7410100
./.git/objects/d1/tmp_obj_FQNfvT
./.git/objects/72/f74101044754b3cec724fdfe5e5240c59ed514
./.git/objects/34/4d0b4d208af0b07dcb08072d188bd2756e393c
./data/archive/train_emb_dataset.pt
./data/archive/train_sorted_emnist.pt
./data/archive/train_test_emb_dict.pt
./data/archive/train_test_sentenceDataset.pt
./data/embedding_datasets/embeddings_v1/train_emb_dataset.pt
./data/embedding_datasets/embeddings_v2/archive/BERT_LM_only.pt
./data/embedding_datasets/embeddings_v2/BERT_embedding_20.pt
./data/embedding_datasets/embeddings_v2/train_emb_dataset.pt
./data/embedding_datasets/embeddings_v2/train_sorted_emnist.pt
./data/embedding_datasets/embeddings_v2/train_test_emb_dict.pt
./data/embedding_datasets/embeddings_v2/train_test_sentenceDataset.pt
./data/embedding_datasets/embeddings_v2.1/archive/BERT_LM_only.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_170.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_171.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_172.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_173.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_174.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_175.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_176.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_177.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_178.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_179.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_180.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_181.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_182.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_183.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_184.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_186.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_187.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_188.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_189.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_190.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_191.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_192.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_193.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_194.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_195.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_196.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_197.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_198.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_199.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_200.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_154.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_155.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_156.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_157.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_158.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_159.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_160.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_161.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_162.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_163.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_164.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_165.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_166.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_167.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_168.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_153.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_169.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_185.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_201.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_217.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_233.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_249.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_265.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_281.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_297.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_313.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_329.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_345.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_202.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_203.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_204.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_205.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_206.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_207.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_208.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_209.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_210.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_211.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_212.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_213.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_214.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_215.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_216.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_218.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_219.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_220.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_221.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_222.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_223.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_224.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_225.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_226.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_227.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_228.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_229.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_230.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_231.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_232.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_234.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_235.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_236.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_237.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_238.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_239.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_240.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_241.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_242.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_243.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_244.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_245.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_246.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_247.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_248.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_250.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_251.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_252.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_253.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_254.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_255.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_256.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_257.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_258.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_259.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_260.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_261.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_262.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_263.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_264.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_266.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_267.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_268.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_269.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_270.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_271.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_272.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_273.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_274.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_275.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_276.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_277.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_278.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_279.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_280.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_282.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_283.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_284.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_285.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_286.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_287.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_288.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_289.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_290.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_291.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_292.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_293.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_294.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_295.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_296.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_298.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_299.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_300.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_301.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_302.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_303.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_304.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_305.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_306.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_307.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_308.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_309.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_310.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_311.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_312.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_314.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_315.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_316.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_317.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_318.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_319.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_320.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_321.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_322.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_323.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_324.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_325.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_326.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_327.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_328.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_330.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_331.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_332.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_333.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_334.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_335.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_336.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_337.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_338.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_339.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_340.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_341.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_342.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_343.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_344.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_346.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_347.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_348.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_349.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_350.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_351.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_352.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_353.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_354.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_355.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_356.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_357.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_358.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_359.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_360.pt
./data/embedding_datasets/embeddings_v2.1/BERT_embedding_361.pt
./data/embedding_datasets/embeddings_v2.1/train_emb_dataset.pt
./data/embedding_datasets/embeddings_v2.1/train_sorted_emnist.pt
./data/embedding_datasets/embeddings_v2.1/train_test_emb_dict.pt
./data/embedding_datasets/embeddings_v2.1/train_test_sentenceDataset.pt
./data/embedding_datasets/embeddings_v2_normalized/train_emb_dataset.pt
./data/emnist/EMNIST/processed/training_byclass.pt
./data/emnist/EMNIST/processed/training_bymerge.pt
./data/emnist/EMNIST/processed/training_digits.pt
./data.zip
./lm/reformer/pretrained.bin
./saved_models/multi_task_model.bin
./saved_models/pretrained_model.bin
./train_sorted_emnist.pt
./train_test_sentenceDataset.pt
./vilbert-multi-task/.git/objects/pack/pack-606cc1ccafafc424b0ffa750d2c97266089601a7.pack
./vilbert-multi-task/data/datasets/VQA/cache/VQA_test_23_cleaned.pkl
./vilbert-multi-task/data/datasets/VQA/cache/VQA_trainval_16.pkl
./vilbert-multi-task/data/datasets/VQA/cache/VQA_trainval_23.pkl
./vilbert-multi-task/data/datasets/VQA/cache/VQA_trainval_23_cleaned.pkl
./vilbert-multi-task/data/detectron_model.pth
./vilbert-multi-task/data/features_100/data.mdb
